
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Roboto:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=Roboto:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=Roboto:wght@100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Lato&family=Merriweather&family=Noto+Sans:ital@0;1&family=Roboto:wght@100&display=swap');
 

  @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

   html{
    scroll-behavior: smooth;
  } 
 
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(135deg, #13547a 10%, #80d0c7 100%);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contain {
    width: 80%;
    margin: 0 auto;
}

.card {
    display: flex;
    position: relative;
    border: 2px solid #10b8d6;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    background-color: rgb(12, 27, 37);
    height: 85vh;
    box-shadow: 0 6px 15px rgba(121, 197, 192, 1.5);
}
header{
    margin-top: 15px;
   display: flex;
   height: 0;
   flex-grow: 1;
   justify-content:space-between ;
   align-items: center;
   

}

.nav-items ul {
    display: flex;
    list-style: none;
    font-size: 21px;
    padding-top: 14px;
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto' ,sans-serif;
    font-weight: 300;
    font-style:normal;
    letter-spacing: 1px;
    cursor: pointer;

}

.nav-items li a{
    text-decoration: none;
    color: #ffffff;
}

.nav-items li {
    margin: 0 15px;
}

.logo {
    font-family: 'jersey 10' ,sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 1px;
    padding-top: 4px;
}
.nav-items {
    flex-grow: 1;
    display: flex;
    justify-content: center;
} 

.star{
    margin-right:50px;
}
.star img{
width: 20px;
height: 20px;
padding-top: 18px;
}

.home,.skill,.project,.about,.contact {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust to control the distance from the text */
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #e3c500; /* Change to your desired underline color */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease; /* Adjust the duration for the animation speed */
}

.home:hover::after {
    transform: scaleX(1);
}
.about::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #e3c500;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.about:hover::after{
    transform: scale(1);
}
.skill::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #e3c500;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.skill:hover::after{
    transform: scaleX(1);
}
.project::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #e3c500;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.project:hover::after{
    transform: scaleX(1);
}
.contact::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #e3c500;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}
.contact:hover::after{
    transform: scaleX(1);
}

/* Section Start */
.section-image{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}
 
/* Text */
.intro {
position: absolute;
left: 100px;
top:220px;

} 

.me, .me2 {
    font-size: 25px;
    margin-bottom: 8px;
    color: #ebebeb; 
    font-family: 'Noto Sans', sans-serif;
    
}

#scroll{
    font-family: 'jersey 10', sans-serif;
    font-family: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
}
.name {
    font-size: 30px;
    font-weight: bold;
   margin-bottom: 8px;
    color:rgb(255, 255, 255); 
    letter-spacing: 2px;

    font-family: 'Merriweather', serif;
   
}

.text{
    color:#fff700   ;
    font-family: 'Lato', sans-serif;
}

.me3{
    color:#fff700 ;
} 


/* Profile */
.image-container {  
   width: 200px;
   height: 200px;  
   position: absolute;
   right: 80px;
   top: 180px; 
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    border: 2px solid #15D7F4;
    filter: drop-shadow(0 0 10px red);
    animation: glow 2s alternate infinite ease-in-out;


   
 

}
@keyframes glow{
    0%{
       filter: drop-shadow(0 0 10px rgb(255, 77, 0));
    }
    100%{
        filter: drop-shadow(0 0 15px rgb(243, 235, 0));
    }
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* Cv Button Started */
.btn{
  position: absolute;
  left: 100px;
  bottom: 160px;
}

.btn a{
    text-decoration: none;
}


.download-btn {
    height: 45px;
    text-transform: uppercase;
    width: 130%;
    cursor: pointer;
    background: white;
    border: none;
    background: #e3c500;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .button-content {
    transform: translateY(-45px);
    transition: all 250ms ease-in-out;
  }
  
  .svg-container,
  .text-container {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container .text {
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 1;
    transition: opacity ease-in-out 250ms;
  }
  
  .download-icon {
    height: 25px;
    width: 25px;
    fill: #ffffff;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
  }
  
  /* hover state for the button */
  .download-btn:hover .button-content {
    transform: translateY(0px);
  }
  
  .download-btn:hover .text {
    opacity: 0;
  }
  
  .download-btn:hover .download-icon {
    opacity: 1;
  }
  
  .download-btn:focus .download-icon {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  /* hover state for the button */
  


/* Cv button Ends */


/* Icons of social  */
  
.social {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 98px;
    bottom: 35px;
    gap: 5px;
   
   
}


.insta-icon{  
    transition: transform 0.3s ease-in-out;
}
.insta-icon:hover{
    transform: scale(1.1) rotateY(180deg);
}

.git-icon{
    transition: transform 0.3s ease-in-out;
}
.git-icon:hover{
    transform: scale(1.1)rotateY(180deg);
}

.linkedin-icon{
transition: transform 0.3s ease-in-out;
}
.linkedin-icon:hover{
    transform: scale(1.1) rotateY(180deg);
}

/* Section End */


/* About section start */

.about-section {
  
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 150%), /* Fading effect */
    radial-gradient(#0000008e 1px, transparent 1px); /* Dots pattern */
  background-size: 100% 100%, 20px 20px; /* Size for fade and dots */
  background-position: center;
    position: relative;
        height: auto;
        padding: 40px 20px; /* Adjust padding to your preference */
        background-color: #e8e8ea; /* Light background color */
        text-align: center; /* Center text */
        color: #060606; /* Dark text color */
  
}

.about-section p {
    font-size: 3.5rem; /* Increase font size */
    font-weight:400; /* Make the text bold */
    margin-bottom: 10px;
    font-family: 'jersey 10' ,sans-serif;
    z-index: 999;
}

.about-content{
    margin-bottom: 30px;
    max-width: 900px; /* Set a max width for better readability */
    margin: 50px auto; /* Center content */
    font-size: 1.3rem; /* Adjust the font size for the content */
    line-height: 1.6; /* Set line height for readability */
    letter-spacing: 1px;
    color: #191919;
    
}

.about-content strong{
    margin-top: 30px;
    display: block;
    font-family: 'Dosis';
    font-weight: 450;
    font-style: normal;
}
.about-content span{
    color:rgb(255, 136, 0);
}
/* End Of About */



/* Skill Section Started */

.skills-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #e8e8ea;
    background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 150%), /* Fading effect */
    radial-gradient(#0000008e 1px, transparent 1px); /* Dots pattern */
  background-size: 100% 100%, 20px 20px;
    
    
} 


.skill-card{
    position: relative;
    display: flex;
    padding: 20px;
    flex-shrink: 0;
    margin: 30px;
    width: 80%;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #ffffff;
   
}


.skill-card p{
    font-family: 'jersey 10' ,sans-serif;
    font-weight: 400;
    font-size:3.5rem;
    color: #000000;
    text-align: center;
    


 
}

.morph{
    
    position: absolute;
    margin-top: 60px;
    background-color: rgb(239, 2, 2);
    border-radius: 50%;
}

.morph svg {
    width: 80px;
    height: 80px;
  }
  
  .js{
    position: absolute;
    bottom: 45%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 110px;
    height: 110px;
    border: 2px solid #000000;
    
  }
/* styles.css */
.icon-container {
    display: flex;
    gap: 50px; /* Space between items */
    position: absolute;
    bottom: 10%;
    align-items: center;
    justify-content: start; 
    /* Align items to the start */
  }
  

  .icon-container > div{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid;
    justify-content: center;
    border-radius:50% ;
   
    ;
  }
  
 
.skill-card img{
    width: 50%;
    height: 50%;
}
.js p{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 10px;
}





/* Skill Section Ends */

/*  */

/* Responsiveness Start */

.hamburger{
    display: none;
}

/* General reset for input and buttons */
.hamburger input,
.nav-items ul li,
.nav-items ul li a {
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Disable tap highlight */
* {
    -webkit-tap-highlight-color: transparent; /* Mobile Safari */
    -webkit-focus-ring-color: rgba(0,0,0,0); /* Disable default focus ring */
}

/* Remove text selection */
.nav-items ul li a,
.hamburger svg {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

/* Remove active state */
.hamburger input:active,
.nav-items ul li:active,
.nav-items ul li a:active {
    background-color: transparent; /* Override active background */
    color: inherit; /* Maintain text color */
}



@media (max-width: 1000px) {
    .nav-items ul{
        font-size: 18px;
    }
    
}

@media (max-width:800px){
  
    .contain{
        width: 95%;
    }

    .card{
        width: auto;
    }
    .star{
        display: none;
    }
.hamburger {
    display: block;
    cursor: pointer;
    margin-left:auto    ;
  }
  
  @media (max-width: 800px) {

.intro{
    top: 175px;
}
   .nav-items ul {
        display: none; /* Hide the menu by default */
        flex-direction: column;
        position: fixed;
        top: 175px;
        right: 90px;
        height: auto;
        width: 210px;
        background-color: #FFF1E6;
        padding: 50px 20px;
        color: #161616;
        border-radius: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 999; /* Ensure the menu is above other elements */
    }

    .nav-items ul.show-menu {
        display: flex;
    }

    .nav-items ul li {
        margin: 15px 0; /* Adjust the margin between the menu items */
    }

    .image-container{
        width: 180px;
        height: 180px;
        right: 40px;
        top: 145px;
    }
}

  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    margin:0;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  .line {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* About section */

  .about-section{
    padding: 60px 75px;
  }
  
}

@media (max-width:750px) and (min-width:650px){

.contain{
    width: 95%;
}

.card{
    width: auto;
}
    .image-container{
        width: 150px;
        height: 150px;
        right: 30px;
    }
    .intro{
        left: 65px;
        top: 175px;
    }

    .me,.me2{
        font-size: 22px;
    }

    .social{
        left: 60px;
    }

    .btn{
        left: 65px;
    }
}



@media (max-width:650px) and (min-width:500px){
    .nav-items ul{
        width: 200px;
        height: 60vh;
        font-size: 18px;
        right: 18px;
        top: 85px;
        padding: 20px 25px;

    }

    .nav-items ul li {
        margin: 25px 0; /* Adjust the margin between the menu items */
    }
  .contain{
    width: 95%;
  }

.card{
    width: auto;
    border: none;
}


.image-container{
    width: 150px;
    height: 150px;
    right: 25px;
}

.intro{
     left:22px; 
}

.me,.me2{
    font-size: 20px;
}

.name{
    font-size: 28px;
}

.social{
    left: 20px;
}
/* About */

.about-section{
    padding: 60px 50px;
}

.btn{
    left: 22px;
}
.text-container .text{
    font-size: 12px;
}

}

@media(max-width:500px) and (min-width:400px){

    .nav-items ul{
        width: 200px;
        height: 60vh;
        font-size: 18px;
        right: 18px;
        top: 85px;
        padding: 20px 25px;
    }   

    .nav-items ul li {
        margin: 18px 0; /* Adjust the margin between the menu items */
    }

    .contain{
        width: 95%;
    }
    .card{
        width: auto;
    }
    .intro{
        left:22px;
    }
    .me,.me2{
        font-size: 18px;
    }

    .image-container{
        width: 125px;
        height: 125px;
        right: 20px;
        top: 155px;
    }
    .name{
        font-size: 22px;
    }

    .social{
        left: 20px;
    }
  /* About */

.about-section{
    padding: 60px 50px;
}

.btn{
    left: 22px;
}

.text-container .text{
    font-size: 12px;
}
}


@media(max-width:400px) and (min-width:300px){

/*  */






/*  */


.intro{
    top: 280px;
    left: 22px;
}

.image-container{
    width: 140px;
    height: 140px;
    right: 20px;
    top: 110px;
}
.card{
    border: none;
}

.social{
    display: none;
}

.name{
    font-size: 26px;
}

.me,.me2{
    font-size: 20px;
}

/* About */



.about-content{
    font-size: 1.1rem;
}

.about-section{
    padding: 45px 38px;
}

.btn{
    left: 22px;
    bottom: 118px;

}

.text-container .text{
    font-size: 10px;
}

}



@media (max-width:299px) and (min-width:200px){

    .contain{
        width: 95%;

    }

    .card{
        width: auto;
        border: none;
    }


    .image-container{
        width: 100px;
        right: 12px;
        height: 100px;
        top: 135px;
    }

    .logo{
        font-size: 20px;
        padding-top:1px ;
    }
    
    .hamburger svg{
        height: 1.5rem;
    }
    .intro{
        top: 270px;
        left: 18px;
    }


    .name{
        font-size: 16px;
    }

    .me,.me2{
        font-size: 12px;
    }
    
    .social {
        display: none;
    }

    .nav-items ul{
        width: 100px;
        height: 60vh;
        font-size: 18px;
        right: 10px;
        top: 70px;
        padding: 20px 25px;
    }   

    .nav-items ul li {
        margin: 18px 0; /* Adjust the margin between the menu items */
    }

    /* About */

    .about-content{
        font-size: 1rem;
    }

    .about-section p{
        font-size: 3rem;
    }

    .about-section{
        padding: 40px 18px;
    }

    .btn{
        left: 22px;
        bottom:118px;
    }
    
    .text-container .text{
        font-size: 10px;
    }

    .download-btn {
        height: 40px;
    }

    .svg-container,
    .text-container{
        height: 43px;
    }
}



@media(max-width:199px) and (min-width:100px){

    .contain{
        width: 98%;
    }

    .card{
        width: auto;
        border: none;
    }
    .intro{
        top: 265px;
        left: 18px;
    }

    .name{
        font-size: 12px;
    }

    .me,.me2{
        font-size: 10px;
    }

    .logo{
        font-size: 20px;
        padding: 0;
    }

    .hamburger svg{
        height: 1.5rem;
        padding-top: 6px;
    }
    .nav-items ul{
        width: 80px;
        height: 50vh;
        font-size: 16px;
        right: 4px;
        top: 70px;
        padding: 20px 25px;
    }   

    .nav-items ul li {
        margin: 16px 0; /* Adjust the margin between the menu items */
    }


    .social{
        display: none;
    }
    .image-container{

        width:80px;
        height: 80px;
        top: 130px;
        right: 8px;
    }
    /* About */

    .about-section{
        padding: 40px 10px;
    }

    .about-content{
        font-size: 0.8rem;
    }
    .about-section p{
        font-size: 2.5rem;
    }

    .btn{
        left: 18px;
    }
    .text-container .text{
        font-size: 8px;
    }

    .download-btn {
        height: 40px;
        width: 118%;
    }

    .svg-container,
    .text-container{
        height: 43px;
    }
}



/* End Responsive */